body {
    font-family: "Monstserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:hover {
    text-decoration: none;
}

#topbar {
    background-color: #15477A;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

.top-contact, .sosmed {
    list-style: none;
    padding: 0;
}

#topbar li {
    display: inline-block;
}

#topbar li a{
    color: #fff;
    display: inline-block;
    padding: 0 20px;
}

#topbar li a i{
    color: #F2C808;
    margin-right: 5px;
}

#topbar .top-contact li a{
    padding: 0 30px;
}

#topbar .sosmed li a{
    padding: 0 10px;
}

#topbar .sosmed li a i{
    color: #fff;
}

header {
    padding: 30px 0;
}

.brand {
    display: flex;
}
.brand img {
    margin-right: 20px;
    height: 80px;
}
.brand .brand-name h1{
    font-size: 25px;
    color: #15477A;
    text-transform: uppercase;
}
.brand .brand-name h3{
    font-size: 18px;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888888;
}
.pembungkus-searchbox{
    display: flex;
    align-items: center;
}
.searchbox{
    width: 100%;
}
.btn.btn-utama{
    background-color: #15477A;
    color:#F2C808;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s;
}
.btn.btn-utama:hover{
    background-color: #002b57;
}
.btn.btn-slider{
    background-color: #15477A;
    color:#F2C808;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s;
    border-radius: 50px 50px;
}
.btn.btn-slider:hover{
    background-color: #002b57;
}

.navbar {
    padding: 0;
    border-bottom: 5px solid #F2C808;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.bg-biru{
    background-color: #15477A!important;
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
    transition: background-color 0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:#fff;
    background-color: #F2C808;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark.navbar-nav .nav-link.active, .navbar-dark.navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show .nav-link {
    color: #fff;
}

.active {
    background-color: #F2C808;
    color: #15477A;
}

li.nav-item.active a{
    color: #15477A;
}

.navbar-dark .navbar-nav .nav-link{
    padding: 15px 20px;
    display: inline-block;
}

/* css slider area*/
#hero-area {
    position: relative;
}
#hero-area .slider-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#ffffff8d ;
    padding: 20px;
    text-align: center;
    font-family: Raleway, 'Segoe UI', Geneva, Verdana, sans-serif;
    width: 50%;
}
#slider-hero-nav .owl-prev,
#slider-hero-nav .owl-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: #15477A;
    color: #fff;
    outline: none;
    padding: 10px 25px;
    font-size: 20px;
    transition: background-color 0.3s;
}

#slider-hero-nav .owl-prev {
    left: 0;
    border-radius: 0 50px 50px 0;
}

#slider-hero-nav .owl-next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

#slider-hero-nav .owl-prev:hover,
#slider-hero-nav .owl-next:hover {
    cursor: pointer;
    background-color: #F2C808;
}

#hero-area .slider-item-content h2{
    font-size: 35px;
    font-weight: 500;
}
#hero-area .slider-item-content p{
    font-size: 18px;
}

#sambutan {
    margin: 60px 0;
}

#sambutan h2{
    color:#15477A;
    font-size:28px ;
    font-weight: 500;
    margin-bottom:30px ;
}
#sambutan h3{
    color: #15477A;
    font-size: 28px;
    font-weight: 500;
}
#sambutan p{
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-size: 500;
    line-height: 28px;
}
#prestasi {
    min-height: 250px;
}
#prestasi .col-item-kanan {
    padding: 20px 30px 20px 20px;
}
.section-item {
    margin: 70px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    min-height: 260px;
    overflow: hidden;
}
.section-item-thumbnail{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 300px;
    max-height: 100%;
}

.section-title{
    margin-bottom: 90px;
    text-align: center;

}

.section-title h2{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase ;
    color: #15477A;
    font-weight: 600;
}
.section-title h2:after {
    position: absolute;
    content: ""; 
    width: 65%;
    height: 3px;
    background-color: #F2C808;
    bottom: -20px;
    left: 50%;
    transform:translateX(-50%) ;
}
.section-item-title{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 20px;
}
.section-item-title h3{
    font-size: 18px;
    color: #15477A;
    line-height: 25px;
    font-weight: 600;
    padding-right:40px;
}
.section-item-title span{
    font-size: 12px;
    color: #666;
    font-weight: 500;
}
.section-item-title span i{
    margin-right: 5px;
}
.section-item-title span:first-of-type{
    margin-right: 15px;
}
.section-item-body p{
    font-size: 12px;
    line-height: 25px;
    color: #666 ;
}

.tombol-selengkapnya{
    text-align: center;
}
 
.btn.btn-more{
font-size: 15px;
text-transform: uppercase;
font-weight: 600;
text-transform: uppercase;
font-weight: 500;
color:#15477A;
text-align: center;
display: inline-block;
border: 2px solid #15477A;
border-radius: 0;
padding: 10px 40px;
transition: background-color 0.3s;
}
.btn.btn-more:hover{
    background-color: #002b57;
    color: #fff;
}

#owl-item{
    padding: 20px 10px;
}
.section-item-slider {
    height: 250px;
    position: relative;
    border: 2px solid #15477A;
    
}
.section-item-slider .img{
    height: 100%;
    object-fit: cover;
}

.section-item-caption {
    position : absolute;
    bottom: 0;
    background-color:#fff ;
    color: #000;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 10px 15px;
}
.section-item-caption h5{
    color: #15477A;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.section-item-caption h6{
    font-size: 14px;
    font-weight: 500;
    color: #F2C808;
}
#tenaga-pendidik .section-body {
    position: relative;
}
#slider-tools-1 .owl-next,
#slider-tools-1 .owl-prev {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -60px;
    z-index: 20;
    background-color: #15477A;
    border: none;
    height: 35px;
    width: 35px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: background-color 0.3s;
}

#slider-tools-1 .owl-prev {
    left: -60px;
}
#slider-tools-1 .owl-next:hover,
#slider-tools-1 .owl-prev:hover {
    cursor: pointer;
    background-color: #F2C808;
    color: #000;
}

#alumni {
    background-color: #15477A;
    padding: 80px 0;
    
}

#alumni .section-title h2 {
     color: #fff;
    
}
#alumni .section-item-slider {
    box-shadow: none;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #15477A;

}
#alumni .section-item-content h3 {
    color: #F2C808;
    font-size: 18px;
    font-weight: 500;
}
#alumni .section-item-content p {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
}
#alumni .section-item-content .more {
    color: #F2C808;
}
#alumni .section-item-slider {
    height: 276px;
    padding: 20px;
}
#alumni .section-item-content .more i{
    margin-left: 10px;
}
.btn.btn-jurusan{
    background-color: #15477A;
    color:#F2C808;
    font-weight: 500;
    transition: background-color 0.3s;
    border-radius: 50px 50px;
    font-size: 14px;
    text-transform: uppercase ;
}
.btn.btn-jurusan:hover{
    background-color: #002b57;
}
#dpb {
    background-color: #15477A;
    padding: 80px 0;
}
#dpb .section-title h2 {
    color: #fff;
}
#dpb .section-body p {
    padding: 20px;
    color: #fff;
}
.img-guru {
    border: 5px solid #F2C808;
}
.foto-alumni {
    height: 100%;
    object-fit: cover;
}
.section-body {
    position: relative;
}
#slider-tools-2 .owl-next,
#slider-tools-2 .owl-prev {
    position: absolute;
    background-color: #fff;
    top: 50%;
    right: -50px;
    z-index: 20;
    border: none;
    height: 35px;
    width: 35px;
    outline: none;
    border-radius: 50% ;
    transition: background-color 0.3s;
}
#slider-tools-2 .owl-prev {
    left: -50px;
}

#slider-tools-2 .owl-next:hover,
#slider-tools-2 .owl-prev:hover{
    background-color: #F2C808;
    cursor: pointer;

}

#galeri .section-body {
    margin-bottom: 50px;
}

#ekstrakulikuler {
    background-color: #f0f0f0;
    padding: 70px ;

}
#ekstrakulikuler .section-body-item {
    display: flex;
    background-color: #15477A;
    border-radius: 5px;
    padding: 20px;
    color: #F2C808;
    height: 200px;
    width: 550px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    /*box-sizing: border-box;*/
}
#ekstrakulikuler .section-body-item h4 {
    font-weight: 500;
}

#ekstrakulikuler .section-body .row:first-of-type{
    margin-bottom: 30px;
}
footer {
    color: #fff;
    background-color: #15477A;
    padding: 80px 0 0;
}
footer .footer-col:first-of-type{
    padding-right: 30px;
}
footer .brand {
    display: flex;
}
footer .brand img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
footer .brand h1 {
   font-size: 25px;
   font-weight: 600;
   line-height: 25px; 
   text-transform: uppercase;
}
footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #fff;
}
footer .sosmed {
    list-style: none;
    margin: 0;
    padding:  0;
}
footer .sosmed li {
    display :inline-block;
    margin-right: 10px;
}
footer .sosmed li a {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
}
footer .sosmed li a:hover {
    color: #999;
}
.footer-col h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.footer-col .alamat {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0;
}
.footer-col .kontak {
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 24px;

}
.footer-col .kontak li {
    margin: 10px 0;
}
.footer-col .kontak i {
    margin-right: 10px;
}
.footer-col .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-col .footer-nav li {
    margin: 10px 0;
}
.footer-col .footer-nav a {
    color: #fff;
    font-size: 15px;
    font-weight: 28px;
    transition: all 0.5s;
}
.footer-col .footer-nav a:hover{
    border-bottom: 1px dashed #fff;
}
.footer-copyright .container {
    border-top: 1px solid #fff;
    padding: 10px 0;
    text-align: center;
}
.footer-copyright {
    margin-top: 60px;
   
}
.footer-copyright h6 {
    font-size: 16px;
   color: #fff;
   font-weight: 400;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-copyright h6 a {
    color: inherit;
}
.footer-copyright h6 a:hover{
    border-bottom: 1px dashed #fff;
}